<div class="container container-fluid">

	<div class="col-md-8 home_search_form_text">

		<h2><p class="label label-info">enter your trip dates</p></h2>

		<%=form_for "home", :url => "hotel/search", :html => { :class=> "form-horizontal"}, :method=> :get do |f|%>
		<%= f.label "from", :class => "search_form_text label label-success"%>
		<div class="form-group">
			<div class="col-lg-10">
				<%= f.text_field :start_date  %>
			</div>
		</div>
		<%= f.label "till", :class => "search_form_text label label-success"%>
		<div class="form-group">

			<div class="col-lg-10">
				<%= f.text_field :end_date %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-10">
				<%= f.submit "Go!", :class => "btn btn-primary"%>
			</div>
		</div>
		<%end%>
	</div>

	<div class="col-md-4">
		<%@accomodations.each do |accomodation|%>
		<div class="snippet_div well well-sm ">

			<h4><span class="label label-info"><%= accomodation.name%> </span></h4>
			<div >
				<span class=" badge"> <%= "#{accomodation.price.currency} #{accomodation.price.after_discount} " %> </span>
			</div>

			<p class="label label-info">
				<%= accomodation.address.street %>
			</p>
			<p>
				<a href="<%= accomodation.url%>" class="btn btn-success btn-xs">visit</a>
			</p>
		</div>

		<%end%>
	</div>
</div>

<script>
	$(function() {
		$("#home_start_date").datepicker();
		$("#home_end_date").datepicker();
	});

</script>